<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/layout.css">
    <title>Document</title>
</head>

<body>

    <div id="wrap">

        <header>
            <div>
                <a href="/"><i class="fa-solid fa-camera-retro fa-fw fa-4x"></i></a>
                <h1>FlaskBlog</h1>
            </div>
            <form action="search.html" method="get">
                <input type="search" name="q" placeholder="Procurar">
                <button type="submit"><i class="fa-solid fa-magnifying-glass fa-fw"></i></button>
            </form>
        </header>

        <nav>
            <a href="/">
                <i class="fa-solid fa-house fa-fw"></i>
                <span>Início</span>
            </a>
            <a href="/contacts">
                <i class="fa-solid fa-comments fa-fw"></i>
                <span>Contatos</span>
            </a>
            <a href="/about">
                <i class="fa-solid fa-circle-info fa-fw"></i>
                <span>Sobre</span>
            </a>
        </nav>

        <main>

            <article>

                <!-- Conteudo fake de teste → REMOVA-ME!!!! -->
                <h2>Título do Article</h2>
                                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eum, dolor ad alias nesciunt
                    consequuntur in error enim numquam sit sunt! Quia eius tempora provident tempore culpa cupiditate
                    sunt dignissimos?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem qui voluptatum hic repudiandae labore
                    quod deleniti temporibus perferendis quisquam recusandae, eum alias natus, dolor at! Error saepe est
                    cupiditate consectetur!</p>
                <img src="https://picsum.photos/200/300" alt="Imagem aleatória">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequatur laboriosam reiciendis
                    dolorem, exercitationem dolor natus hic quisquam itaque maxime doloribus. Adipisci debitis quod
                    perferendis repudiandae similique quam voluptatum eveniet.</p>
                <h4>Links:</h4>
                <ul>
                    <li><a href="https://catabist.com.br">Site do Fessô</a></li>
                    <li><a href="https://github.com/Luferat">Github do fessô</a></li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis a mollitia doloribus
                    repudiandae incidunt ullam debitis, minima iure quia, recusandae odio magnam velit quos ad nam
                    eaque. Ut, dolorem eveniet?</p>

            </article>

            <aside>

                <!-- Conteudo fake de teste → REMOVA-ME!!!! -->
                <h3>Título do aside</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

            </aside>

        </main>

        <footer>
            <a href="/">
                <i class="fa-solid fa-house fa-fw"></i>
            </a>
            <div>
                <i class="fa-regular fa-copyright fa-fw fa-flip-horizontal"></i> Copyleft 2024 Joca da Silva
                <small>
                    <a href="/contacts">Faça contato</a> &nbsp;|&nbsp;
                    <a href="/policies">Políticas de privacidade</a>
                </small>
            </div>
            <a href="#wrap">
                <i class="fa-solid fa-circle-up fa-fw"></i>
            </a>
        </footer>

    </div>

</body>

</html>