.redalert {
    color: red;
    text-align: center;
    font-style: italic;
}

#contact {
    display: block;
    width: 100%;
    max-width: 550px;
    margin: auto;
}

#contact label {
    display: block;
    padding: 0 0 .25rem .25rem;
}

#contact input,
#contact textarea,
#contact button {
    font-family: inherit;
    font-size: inherit;
    border-radius: .3rem;
}

#contact input,
#contact textarea {
    width: 100%;
    border: 1px solid red;
    background-color: rgb(255, 223, 223);
    padding: .5rem
}

#contact textarea {
    resize: vertical;
    height: 6rem;
}

#contact button {
    border: none;
    color: white;
    padding: .5rem 1rem;
    background-color: #999;
    pointer-events: none;
}

#contact small {
    color: grey;
}

#contact input:valid ,
#contact textarea:valid {
    border: 1px solid blue;
    background-color: rgb(232, 240, 254);
}

#contact:valid button {
    background-color: steelblue;
    pointer-events: all;
    cursor: pointer;
}

.success {
    display: table;
    margin-left: 2rem;    
}