/* CSS de view.html */

.aside-author img {
    width: 100%;
    max-width: 280px;
    display: block;
    margin: auto;
}

#commentForm {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: auto auto 2rem auto;
}

#commentForm label {
    display: block;
    padding: 0 0 .25rem .25rem;
}

#commentForm input,
#commentForm textarea,
#commentForm button {
    font-family: inherit;
    font-size: inherit;
    border-radius: .3rem;
}

#commentForm input,
#commentForm textarea {
    width: 100%;
    padding: .5rem;
    border: 1px solid red;
    background-color: rgb(255, 232, 232);    
}

#commentForm textarea {
    resize: vertical;
    height: 6rem;
}

#commentForm button {
    padding: .5rem 1rem;
    color: white;
    background-color: grey;
    border: none;
    pointer-events: none;
}

#commentForm input:valid,
#commentForm textarea:valid {
    border: 1px solid blue;
    background-color: rgb(232, 240, 254);
}

#commentForm:valid button {
    background-color: steelblue;
    pointer-events: all;
    cursor: pointer;
}

.alert {
    color: red;
    font-style: italic;
    text-align: center;
}

.sended {
    background-color: rgb(232, 255, 232);
    color: rgb(0, 78, 0);
    text-align: center;
    padding: .5rem;
    font-weight: bold;
}

#comments {
    margin-top: 3rem;
    border-top: 3px dotted grey;
}

.comment-item {
    border: 1px dotted #ddd;
    margin-bottom: 1rem;
}

.comment-header {
    padding: .25rem;
    font-size: small;
    border-bottom: 1px dotted #bbb;
    background-color: #ddd;
}

.comment-body {
    padding: .5rem;
    background-color: #eee;
}