{# Insere (herda) o template `layout.html` nesta página #}
{% extends "layout.html" %}

{# Bloco dentro de <article></article> de `layout.html` #}
{% block article %}

<h2>Faça Contato</h2>

{% if page.success %}

<div class="success">
    <h3>Olá {{ page.first }}!</h3>
    <p>Seu contato foi enviado com sucesso...</p>
    <p><em>Obrigado.</em></p>
</div>

{% else %}

<form action="/contacts" method="post" id="contact">

    <p>Preencha todos os campos abaixo para entrar em contato conosco.</p>

    <p class="redalert">Todos os campos são obrigatórios!</p>

    <p>
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" required minlength="3">
    </p>

    <p>
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" required>
    </p>

    <p>
        <label for="subject">Assunto:</label>
        <input type="text" name="subject" id="subject" required minlength="5">
    </p>

    <p>
        <label for="message">Mensagem:</label>
        <textarea name="message" id="message" required minlength="5"></textarea>
    </p>

    <p>
        <button type="submit">Enviar</button>
        <small>&larr; Clique somente uma vez.</small>
    </p>

</form>

{% endif %}

<script>
    if (window.history.replaceState) window.history.replaceState(null, null, window.location.href);
</script>

{% endblock%}

{# Bloco dentro de <aside></aside> de `layout.html` #}
{% block aside %}

<h3>+ contatos</h3>
<p>você pode nos encontrar nas redes sociais:</p>

{% endblock %}