{# Insere (herda) o template `layout.html` nesta página #}
{% extends "layout.html" %}

{# Peenche o bloco dentro de <article></article> de `layout.html` #}
{% block article %}

<h2>Artigos Recentes</h2>

<div class="article-grid">

    {# Lista os artigos mais recentes à partir do dict `page.articles` #}
    {% for article in page.articles %}

    <div class="article-box" onclick="location.href = '/view/{{ article.art_id }}'">
        <img src="{{ article.art_thumbnail }}" alt="{{ article.art_title }}">
        <div>
            <h4>{{ article.art_title }}</h4>
            <span>{{ article.art_resume }}</span>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock%}

{# Peenche o bloco dentro de <aside></aside> de `layout.html` #}
{% block aside %}

<h3><i class="fa-solid fa-plus fa-fw"></i> Visitados</h3>

<div class="aside-grid">

    {% for article in page.article_viewed %}

    <div class="aside-article" onclick="location.href = '/view/{{ article.art_id }}'">
        <img src="{{ article.art_thumbnail }}" alt="{{ article.art_title }}">
        <div>{{ article.art_title }}</div>
    </div>

    {% endfor %}

</div>

&nbsp;

<h3><i class="fa-solid fa-plus fa-fw"></i> Comentados</h3>

<div class="aside-grid">

    {% for article in page.articles_commented %}

    <div class="aside-article" onclick="location.href = '/view/{{ article.art_id }}'">
        <img src="{{ article.art_thumbnail }}" alt="{{ article.art_title }}">
        <div>{{ article.art_title }} <sup>{{ article.total_comments }}</sup></div>
    </div>

    {% endfor %}

</div>

{%endblock %}