{% extends "layout.html" %}

{% block article %}

<h2>Política de Privacidade</h2>

<img src="/static/img/policies.jpg" alt="Política de Privacidade" class="banner">

<p>Bem-vindo ao FlaskBlog. Estamos comprometidos em proteger sua privacidade e garantir que suas informações pessoais sejam protegidas.</p>

<h3>Informações que Coletamos</h3>
<p>Para comentar em nossos artigos, pedimos que você forneça seu nome e email. Não exigimos senhas ou confirmações adicionais.</p>

<h3>Uso de Cookies</h3>
<p>Utilizamos cookies para melhorar sua experiência no FlaskBlog. Cookies são pequenos arquivos de texto que são armazenados em seu dispositivo quando você visita nosso site. Eles nos ajudam a entender como você utiliza nosso site e a personalizar seu conteúdo.</p>

<h3>Como Usamos suas Informações</h3>
<ul>
    <li>Para identificar você quando comenta em nossos artigos.</li>
    <li>Para melhorar nossos serviços e oferecer uma experiência personalizada.</li>
    <li>Para responder às suas perguntas e feedback.</li>
</ul>

<h3>Proteção das suas Informações</h3>
<p>Adotamos medidas de segurança apropriadas para proteger suas informações contra acesso não autorizado, alteração, divulgação ou destruição.</p>

<h3>Compartilhamento de Informações</h3>
<p>Não compartilhamos suas informações pessoais com terceiros, exceto quando exigido por lei ou para proteger nossos direitos.</p>

<h3>Seus Direitos</h3>
<p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais que coletamos. Para exercer esses direitos, entre em contato conosco através do <a href="/contacts">formulário de contatos</a>.</p>

<h3>Alterações nesta Política</h3>
<p>Podemos atualizar esta Política de Privacidade de tempos em tempos. Quando fizermos isso, publicaremos a nova versão em nosso site.</p>

<h3>Contato</h3>
<p>Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco pelo <a href="/contacts">formulário de contatos</a>.</p>

{% endblock%}

{% block aside %}

<h3>Links rápidos</h3>
<ul class="aside">
    <li><a href="/about">Sobre</a></li>
    <li><a href="/contacts">Faça contato</a></li>
</ul>
&nbsp;

<h3><i class="fa-solid fa-plus fa-fw"></i> Artigos</h3>

<div class="aside-grid">

    {% for article in page.articles %}

    <div class="aside-article" onclick="location.href = '/view/{{ article.art_id }}'">
        <img src="{{ article.art_thumbnail }}" alt="{{ article.art_title }}">
        <div>{{ article.art_title }}</div>
    </div>

    {% endfor %}

</div>

{% endblock %}